:root {
    --black: #0a0a0a;
    --light: white;
    --yellow: #d8f21d;
    --gray: rgba(33, 36, 40, 0.71);
    --green: #80F21D;
    --light-yellow: #BEDA55;
    --yellowb: rgba(216, 242, 29, 0.2);
}

body {
    background: var(--black);
    color: var(--light);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 100%;
    font-style: normal;

}

b, strong {
    font-weight: bolder;
}

h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
    font-weight: 700;
    font-style: normal;
    margin-bottom: .5em;
    margin-top: 0;
    text-rendering: optimizeSpeed;
    width: 100%;
}


input {
    border-radius: 0 !important;
    border: none !important;
    background-color: var(--gray) !important;
    border-radius: 1.25rem !important;

}

.small{
    font-size: 0.70rem;
}

input:-internal-autofill-selected {
    background-color: var(--gray) !important;
}

.text-bordered-spoome {
    clip-path: fill-box;
    text-shadow: 1px 1px var(--yellow);
}

.form-floating > label {
    color: var(--light) !important;
}

.form-floating > .form-control-plaintext ~ label::after, .form-floating > .form-control:focus ~ label::after, .form-floating > .form-control:not(:placeholder-shown) ~ label::after, .form-floating > .form-select ~ label::after {
    background-color: transparent !important;
}

.btn {
    border-radius: 1.25rem;
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 0.1rem;
}

.btn-slanted {
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.btn-slanted-content {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    display: inline-block;
}

[data-bs-theme=dark] .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("/network/assets/i-sp-menu.svg");
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler :focus, .navbar-toggler :active {
    border: none !important;
    box-shadow: none !important;
}

.nav-item a{
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
}

p {
    color: var(--light);
    font-size: 100%;
}

.card {
    border: none !important;
    background: var(--black) !important;
}

.card-img, .card-img-top {
    border-radius: 0;
}

.card-body {
    background: var(--black) !important;
    padding: 8px 5px 16px 5px !important;
}

.table-dark th, .table-dark td {
    background: var(--black);
}

.accordion-button {
    background-color: var(--black);
    color: var(--yellow);
    border: none;
}

#searchInput {
    background: var(--gray) !important;
    color: var(--yellow) !important;
}

.form-control::placeholder {
    color: var(--light);
}

.form-control:focus,
.form-control:active {
    border-color: var(--yellow);
    box-shadow: 0 0 0 .25rem rgba(209, 234, 34, 0.25);
}

.btn-spoome,
.bg-spoome {
    border: none !important;
    color: var(--black) !important;
    background-color: var(--yellow);
    background-size: 200% 200%;
    transition: background-position 0.5s;
    background-image: linear-gradient(to right, var(--black) 50%, var(--yellow) 0);
    background-position: right;
}

.btn-spoome:hover {
    background-position: left;
    color: var(--yellow) !important;
    border: 1px solid var(--yellow) !important;

}

.btn-outline-spoome {
    border: none !important;
    color: var(--yellow) !important;
    background-color: var(--black);
    background-size: 200% 200%;
    transition: background-position 0.5s;
    background-image: linear-gradient(to right, var(--yellow) 50%, var(--black) 0);
    background-position: right;
}

.btn-outline-spoome:hover {
    background-position: left;
    color: var(--black) !important;
    border: 1px solid var(--black) !important;
}

.text-spoome {
    color: var(--yellow) !important;
}

.link-spoome {
    color: var(--yellow) !important;
    text-decoration: none;
}

.link-spoome-outline {
    color: var(--light) !important;
    background: var(--black);
    text-decoration: none;
}

.player-spoome {
    min-height: 200px;
}

.news-photo {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    border-radius: 1.5rem;
}

.news-photo:hover {
    filter: none;
}

.nav-link-spoome {
    color: var(--light) !important;
    font-weight: normal;
}

.nav-link-spoome:hover {
    color: var(--yellow) !important;
    font-weight: bold !important;
}

.text-bg-spoome-dark {
    background-color: var(--black) !important;
    color: var(--light) !important;
}

.slider-container {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
}

.slider-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.profile-container {
    background: var(--yellow);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.profile-photo-circle,
.profile-photo-circle-small,
.profile-photo-card {
    object-fit: cover;
    object-position: top;
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;
    /*clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
}

.profile-photo-circle-small {
    width: 64px;
    height: 64px;
}

.profile-photo-circle-medium {
    width: 128px;
    height: 128px;
}

.bio-header {
    color: var(--light);
    font-weight: 600;
}

@media (max-width: 767px) {
    .bio-header {
        font-size: 0.75rem;
    }

    .bio-details {
        font-size: 0.75rem;
    }
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
    color: var(--yellow) !important;
    border-bottom-color: var(--yellow) !important;
}

.divider-sm {
    height: 8px;
    width: 21px;
    background: #d8f21d;
    margin-right: 8px;
    transform: skew(-20deg);
    border-radius: 4px;
}

.divider {
    height: 8px;
    width: 48px;
    background: white;
    transform: skew(-20deg);
    border-radius: 4px;
}

#autocomplete-suggestions {
    background: var(--gray);
}

.autocomplete-suggestions {
    background: var(--gray);
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
    max-height: 200px;
}

.autocomplete-suggestion {
    padding: 8px;
    cursor: pointer;
    color: var(--light);
    border-bottom: 1px solid var(--gray);

}

.autocomplete-suggestion:hover,
.autocomplete-active {
    background: var(--yellow);
    color: var(--black);
    font-weight: 600;
}

.form-floating {
    position: relative;
}

.uac-container {
    background: #21242894;
    border-radius: 0.5rem;
    padding: 50px 25px;
}
