a {
    text-decoration: none !important;
}

.box-text {
    padding: 0 !important;
}

.entry-meta {
    display: none;
}

.is-divider {
    display: none;
}

.fill, .image-cover, .img-inner, .text-box .text-box-content {
    border-radius: 1rem;
}

.rounded img {
    border-radius: 1rem;
}


.divider {
    height: 8px;
    width: 48px;
    background: white;
    transform: skew(-20deg);
    border-radius: 4px;
}

.divider-sm {
    height: 8px;
    width: 21px;
    background: #d8f21d;
    margin-right: 8px;
    transform: skew(-20deg);
    border-radius: 4px;
}

.slider-nav-light .flickity-page-dots .dot {
    border-color: #d8f21d;
}

.slider-nav-light .flickity-prev-next-button .arrow, .slider-nav-light .flickity-prev-next-button svg {
    fill: #d8f21d !important;
}

.icon-play {
    color: #d8f21d;
}

.open-video {
    border-color: #d8f21d !important;
}

.secondary.is-outline:hover {
    color: black;
}

.button.alt, .button.checkout, .checkout-button, .secondary {
    color: black !important;
}

.product-info {
    background: black;
    color: white;
}

.amount {
    color: white !important;
}

.nav-dots-small .flickity-page-dots .dot, .row-slider .flickity-page-dots .dot {
    background-color: #d8f21d !important;
}

iframe {
    border-radius: 1rem;
    width: 100%;
    border: none;

}

/* Youtube player */


[id^=sb_youtube_].sb_youtube.sby_palette_dark {
    background: #101218 !important;
}

[id^=sb_youtube_].sb_youtube.sby_palette_dark .sb_youtube_header .sby_header_text .sby_bio, [id^=sb_youtube_].sb_youtube.sby_palette_dark .sb_youtube_header .sby_subscribers, [id^=sb_youtube_].sb_youtube.sby_palette_dark .sb_youtube_header h3, [id^=sb_youtube_].sb_youtube.sby_palette_dark .sb_youtube_header.sby-header-type-text span, [id^=sb_youtube_].sb_youtube.sby_palette_dark .sby-video-info, [id^=sb_youtube_].sb_youtube.sby_palette_dark .sby-video-info a, [id^=sb_youtube_].sb_youtube.sby_palette_dark .sby_meta span, [id^=sb_youtube_].sb_youtube.sby_palette_dark .sby_video_title {
    text-align: left;
}

[id^=sb_youtube_].sb_youtube .sby_info .sby_video_title_wrap {
    padding: 0 10px !important;
    min-height: 50px;
}

.sby_lb-video-description-wrap, .sby_lb-video-info {
    display: none !important
}

.sby_lb-video-heading {
    margin-bottom: 0 !important;
}

.sby_lb-video-heading h3 {
    font-size: 1rem !important;
    line-height: 1.1rem !important;
    font-weight: 400 !important;

}

.sby_lb-dataContainer {
    .sby_lb-video-heading {
        border: none !important;
    }
}

.sby_lb-dataContainer {
    .sby_lb-caption {
        background-color: #101218 !important;
        color: white !important;
        padding: 10px 10px !important;
    }
}

.sby_lb-prev, .sby_lb-nav, .sby_lb-next, .sby_lb-info {
    display: none !important;
}

.sby_lb-dataContainer {
    min-height: 200px;
    width: 99% !important;
}

.sby_lb-player, .sby_lb-outerContainer {
    width: 99% !important;
    min-height: 200px !important;
}

#sb_instagram.sbi_palette_dark, #sbi_lightbox.sbi_palette_dark_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer, #sbi_lightbox.sbi_palette_dark_lightbox .sbi_lightbox_tooltip, #sbi_lightbox.sbi_palette_dark_lightbox .sbi_share_close, .sbi_header_outside.sbi_header_palette_dark {
    background: #101218 !important;
}

#searchbox-spoome {
    border-radius: 1rem;
    background: #2e3133;
    border-color: #2e3133;
    color: white !important;
    border-width: 2px;
    font-size: 1.25rem !important;
}

#searchbox-spoome::placeholder {
    color: white;
    opacity: 0.7;
    font-size: 1.25rem !important;
}

.nav-dropdown > li > a {
    color: hsla(0, 0%, 3.5%, 0.85);
}

.nav-dropdown li.active > a {
    background-color: #fff;
    color: #101218 !important;
}

.sby_meta {
    display: none !important;
}

.sby_video_title {
    text-align: left !important;
}

.header-top {
    background-color: #101218 !important;
}


